body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#resume-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slides {
  max-width: 50%;
  padding: 1rem;
}

.App {
  margin: 4rem;
}

@media (max-width: 768px) {
  #slides {
    max-width: 100%;
  }

  .App {
    margin: 1rem;
  }

  img {
    max-width: 100%;
  }
}

.alert-fixed {
  position: fixed;
  z-index: 9999;
}

/* Style for the top alert */
.alert-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(181, 186, 242);
  margin-top: 2rem;
  flex-wrap: wrap;
}

.footer h3 {
  padding: 1rem;
  color: white;
}

.container-button {
  display: flex;
}

#wrapper {
  margin: 2rem;
}

#wrapper img {
  padding: 1.5rem;
}

.card-body {
  display: flex;
  flex-direction: column-reverse;
}
.about-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .footer h3 {
    padding: 0.2rem;
    font-size: x-small;
  }

  .social-icons {
    padding: 0.1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  .col {
    width: 49% !important;
  }
  .social-icons {
    padding: 0.5rem;
  }
  .about-image-holder {
    width: 50%;
  }
}
